/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;  /* Fuente moderna y llamativa */
    margin: 0;
    padding: 0;
    background-color: #8c091f;
    color: #333;
  }
  
  h1, h2 {
    text-align: center;
    color: #003d33;
    font-weight: 600;
  }
  
  /* Barra de búsqueda */
  .search-bar {
    text-align: center;
    margin-top: 20px;
  }
  
  #search {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #003d33;
    border-radius: 5px;
  }
  
  /* Encabezado */
  header {
    background-color: #00bfae;
    color: white;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 40px;
    margin: 0;
    font-weight: 600;
  }
  
  /* Sección general de noticias */
  section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Flexbox para las imágenes y descripciones */
  .animal {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .animal-img {
    width: 220px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    transition: transform 0.3s ease;
  }
  
  .animal-img:hover {
    transform: scale(1.05);
  }
  
  .animal-description {
    max-width: 600px;
  }
  
  .animal-description h3 {
    color: #00bfae;
    font-size: 24px;
  }
  
  .animal-description p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  /* Estilos del video */
  #video iframe {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  /* Estilo de la sección de preguntas y respuestas */
  #faq .faq-item {
    background-color: #e5f7f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .faq-item h3 {
    color: #003d33;
  }
  
  .faq-item p {
    font-size: 14px;
    color: #555;
  }
  
  /* Estilo de las noticias relacionadas */
  #noticias-relacionadas .news-item {
    background-color: #e5f7f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .news-item h3 {
    color: #003d33;
  }
  
  .news-item p {
    font-size: 14px;
    color: #555;
  }
  
  /* Pie de página */
  footer {
    text-align: center;
    background-color: #00bfae;
    color: white;
    padding: 10px 0;
  }
  
  .descripcion-principal {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    margin: 10px auto 30px;
    max-width: 900px;
    color: #060606; /* negro */
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  }
  